:root {
 --theme-color: #00fff2;
 --background-color-base: rgb(10, 167, 244);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');
* {
 border: 0;
 margin: 0;
 padding: 0;
 text-decoration: none;
 box-sizing: border-box;
 font-family: 'Roboto', sans-serif;
}

html,
body {
 background-color: var(--background-color-base);
}


/* scroll bar */


/* width */

::-webkit-scrollbar {
 width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
 box-shadow: inset 0 0 5px black;
 border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
 background: #87CEFA;
 border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
 background: rgb(4, 145, 215);
}


/* scroll bar end */


/* main */

.container {
 max-width: 100vw;
 height: 100vh;
 background-color: var(--background-color-base);
}

.container .sub-container1 {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 height: 85%;
}

.sub-container-division {
 display: grid;
 grid-template-rows: 1fr 1fr;
}

.container .sub-container-1column {
 display: grid;
 height: 85%;
}

.sub-container-2columns {
 display: grid;
 height: 85%;
 grid-template-columns: 1fr 1fr;
}

.container nav {
 width: 100%;
 height: 3em;
 display: grid;
 grid-template-columns: 1fr 4em;
 text-transform: uppercase;
 color: #ffffff;
 font-weight: bold;
 align-items: center;
 padding-left: 10px;
}

.container nav a {
 color: #ffffff;
}

.container .menu {
 width: 100%;
 height: 3em;
 background-color: #87CEFA;
 display: grid;
 align-items: center;
 grid-template-columns: repeat(7, 1fr);
 box-shadow: 0 5px 5px rgb(4, 145, 215);
}

.container .menu u a {
 height: 2.5em;
 align-items: center;
 display: flex;
 justify-content: center;
 color: #ffffff;
 cursor: pointer;
 font-weight: bold;
}

.container .menu u:hover {
 font-size: 1.1em;
 border: 1px solid #ffffff;
 background-color: var(--background-color-base);
 transition: 0.5s;
}

.container>h5 {
 margin: 0;
 font-size: 10px;
 color: white;
 text-align: center;
 padding-top: 1em;
}

.container .all-lights {
 color: #ffffff;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.container .all-lights form {
 width: 15em;
 height: 15em;
 background-image: url("../assets/all-light-icon.svg");
 background-size: contain;
 background-repeat: no-repeat;
 background-position: center;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 50%;
}

.container .all-lights form:hover {
 background-color: #87CEFA;
 box-shadow: 0 5px 15px rgb(4, 145, 215);
 border: 1px solid #ffffff;
 transition: 1s;
}

.container .all-lights a {
 color: #ffffff;
 font-weight: bold;
 font-size: 2.5em;
 display: flex;
 align-items: center;
 justify-content: center;
 height: 5em;
}

.container .cams {
 padding: 2em;
}

.container .cams img {
 width: 100%;
 height: 100%;
 border: 1px solid #00fff2;
}


/* end main */