/* desktop */

@media screen and (min-width: 701px) {
 .container .menu-mobile {
  display: none;
  visibility: hidden;
 }
}


/* mobile */

@media screen and (max-width: 700px) {
 /* menu */
 .container .menu {
  display: none;
  visibility: hidden;
 }
 .container .menu-mobile {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  display: block;
  visibility: visible;
 }
 .menu-mobile .menu-nav {
  width: 100%;
  height: 2em;
  padding: 0.5em 0;
  color: var(--background-color-base);
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
 }
 .menu-mobile .menu-container {
  width: 100%;
  height: auto;
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: 0.5s;
 }
 .menu-mobile .menu-container u {
  height: 1.5em;
  align-items: center;
  display: flex;
  justify-content: center;
  color: var(--background-color-base);
  cursor: pointer;
  font-weight: bold;
 }
 .menu-mobile .menu-container u a {
  width: 100%;
  text-align: center;
  color: var(--background-color-base);
 }
 .menu-mobile .menu-container u:hover,
 .menu-mobile .menu-container u:hover a {
  border: 1px solid #87CEFA;
  background-color: var(--background-color-base);
  color: #ffffff;
  transition: 0.5s;
 }
 /* content */
 .container .sub-container1 {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
 }
 .sub-container-division {
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 .container .temp,
 .container .luz {
  margin-top: 2em;
 }
 .container .luz,
 .container .travas,
 .container .sub-container-2columns .item {
  width: 90vw;
 }
 .container .all-lights {
  margin-top: 2em;
 }
 #sub-container-2columns {
  grid-template-columns: 1fr;
  justify-items: center;
 }
 .dimmer-item .dimmer-form {
  grid-template-columns: 1fr 10px;
 }
 .dimmer-item .dimmer-form input[type="submit"] {
  width: initial;
  padding: 10px;
 }


 /* RGB */
.info .morergb input[type="range"] {
    min-width: 6.5em;
    max-width: 9em;
}
.info select {
    width: 11.5em;
    margin-left: 0;
}
.info .morergb input[type="submit"] {
    width: 7.5em;
    margin-left: 50%;
    background-color: #87CEFA;
    color: #ffffff;
    font-weight: bold;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

}